---
title: Blog
description: El blog de Javier Cancela.
image: /images/main.jpg
---

<section class="hero" style="background-image: url(/images/archivo.jpg)">
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1>Archivo</h1>
      <p class="subtext">Conocimiento obsoleto</p>
    </div>
  </div>
</section>

<section>
	<div class="text-container">
		{% assign months = "enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre" | split: "|" %}
	   {% for post in site.posts %}
	       {% assign currentYear = post.date | date: "%Y" %}
	       {% if currentYear != myYear %}
	           <br/><br/><h2>{{ currentYear }}</h2>
	           {% assign myYear = currentYear %}
	           {% assign myMonth = "" %}
	       {% endif %}
	       {% assign m = post.date | date: "%-m" | minus: 1 %}
	       {% assign currentMonth = months[m] %}
	       {% if currentMonth != myMonth %}
	           <h3>{{ currentMonth }}</h3>
	           {% assign myMonth = currentMonth %}
	       {% endif %}
			{% assign day = post.date | date: "%d" %}
	       <h3><a href="{{ post.url }}"><span>{{ day }} de {{ currentMonth }} de {{ currentYear }}</span> - {{ post.title }}</a></h3>
	   {% endfor %}
	   <br/>
	</div>
</section>
