---
title: Contacto
description: Envíame un mensaje
image: /images/cv.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Sobre mí</h1>
			<p class="subtext editable">Breve <i>curriculum vitae</i></p>
		</div>
	</div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Estudios</h2>
				<p class="editable">Licenciado en Ciencias Físicas en la Universidad de Santiago de Compostela, especialidad de Electrónica y Computación (1991 - 1999)</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/estudios.jpg" alt="Estudios" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Experiencia</h2>
				<p class="editable">En el mundo del desarrollo desde 1999. Especializado en comercio electrónico. Actualmente Director de Operaciones en Redegal.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/experiencia.jpg" alt="Experiencia" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Conocimientos</h2>
				<p class="editable">Experiencia en desarrollo back con Java y .NET. Desarrollo Front-End. Desarrollo de aplicaciones móviles. Comercio electrónico. Conocimiento de Scrum y PMP. Git, SVN, Jira, Redmine, Bamboo, Jenkins, Artifactory, Nexus, etc... Hablo un inglés aceptable.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/conocimientos.jpg" alt="Conocimientos" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Intereses</h2>
				<p class="editable">Mi familia. Leer. El buen comer y el buen beber. Viajar. Los ordenadores. Intentar levantarme para ir al gimnasio. Escribir un blog.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/intereses.jpg" alt="Intereses" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Mi curricumum</h2>
				<p class="subtext editable">Versión convencional.</p>
				<div class="cta button alt"><a href="/static/CV_ES.pdf">PDF ES</a></div>
				<div class="cta button alt"><a href="/static/CV_EN.pdf">PDF EN</a></div>
			</div>
		</div>
	</section>
</div>

